body{
    width: 100%;
    height: 700px;
}

.container{
    width: 60%;
    display: flex;
    height: 700px;
    margin: 2% auto;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}

.container > *{
    flex-basis: 100%;

}
.form{
    background-color: #fff;
    height: inherit;
    font-family: sans-serif;
}
.picture{

    background-color: aquamarine;
    background-image: url(./Capture.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
}


.formBox{
    padding: 27% 20%;
}

.form p{
    font-weight: bold;
    font-size: 14px;
}



#lorem{
    color: rgb(160, 160, 160);
    font-weight: normal;
    margin-bottom: 2rem;
}
input[type='checkbox']:checked {
    background-color: rgb(235, 126,49);
  }
  input[type='checkbox']:checked:after {
    content: '\2713';
    color:rgb(255, 255, 255);
  }
  input[type='checkbox']{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 20px !important;
    height: 20px !important;
    appearance:none;
    border-radius:10%;
    border: 1px solid rgb(235, 126,49) ;
    box-shadow: none;
    font-size: 1em;
}
/*input[type=checkbox]{
    accent-color: #FA9E57;
    color: #fff;
}*/



#check, 
#forget{

    color: gray;
    font-size: 12px;
    font-weight: bold;
}
#forget{
    float: right;
    text-align: right;
}
#login{
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: rgb(235, 126,49);
    border: rgb(235, 126,49);
    border-radius: 3px;
    margin-top: 1rem;
}

#password, #username{
    width: 100%;
    height: 25px;
    border: #fff;
    box-shadow: 1px 1px rgba(173, 173, 173, 0.5);
    margin-bottom: 1rem;
}

#login:hover{
    background-color:orangered;
}